<label class="label">{{ property.desc }}{% if property.required %} <span class="required">*</span>{% endif %}</label>
{% if property.value %}
<div class="preview">
  <img src="/uploads/{{ property.value }}" alt="">
</div>
{% endif %}
<div id="file-{{ property.name }}" class="file has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="{{ property.name }}">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">Choose a file…</span>
    </span>
    <span class="file-name">{{ property.value ?? 'No file uploaded' }}</span>
  </label>
</div>
<script>
(function() {
  const fileInput = document.querySelector('#file-{{ property.name }} input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-{{ property.name }} .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
})();
</script>
{%- if property.errors %}
{%- for error in property.errors %}
<p class="help is-danger">{{ error }}</p>
{%- endfor %}
{%- endif %}