<label class="label">{{ property.desc }}</label>
<div id="file-{{ property.name }}" class="file has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="{{ property.name }}">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    <span class="file-name">
      No file uploaded
    </span>
  </label>
</div>
<script>
(function() {
  const fileInput = document.querySelector('#file-{{ property.name }} input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-{{ property.name }} .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
})();
</script>