<label class="label">{{ property.desc }}{% if property.required %} <span class="required">*</span>{% endif %}</label>
<div class="control">
  <input class="input" type="number" placeholder="{{ property.desc }}" name="{{ property.name }}" value="{{ property.old ?? property.value }}">
</div>
{%- if property.errors %}
{%- for error in property.errors %}
<p class="help is-danger">{{ error }}</p>
{%- endfor %}
{%- endif %}