<label class="label">{{ property.desc }}{% if property.required %} <span class="required">*</span>{% endif %}</label>
<div class="control">
  {% for key,item in property.options %}
  <label class="radio">
    <input type="radio" name="{{ property.name }}" value="{{ loop.index0 }}"{{ property.value == key ? ' checked' : null }}> {{ item }}
  </label>
  {% endfor %}
</div>
{%- if property.errors %}
{%- for error in property.errors %}
<p class="help is-danger">{{ error }}</p>
{%- endfor %}
{%- endif %}