<label class="label">{{ property.desc }}</label>
{% if property.value %}
<div class="control">
  <div class="select is-multiple">
    <select multiple size="6" name="{{ property.name }}[]">
      {% for s in property.value %}
      <option value="{{ s.id }}">({{ s.weight }}) {{ s.person }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endif %}